<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> New Job application submitted</h1>
<p> Name: <%=@job_application.username%></p>
<p> Email: <%=@job_application.email%></p>

</body>
</html>