<!-- Details 2 -->
<div class="basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-container">
          <%= image_tag("details-2-office-team-work.svg", class: "img-fluid", alt: "alternative")%>
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
      <div class="col-lg-6">
        <div class="text-container">
          <h2>Search For Optimization Wherever Is Possible</h2>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Basically we'll teach you step by step what you need to do</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">In order to develop your company and reach new heights</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Everyone will be pleased from stakeholders to employees</div>
            </li>
          </ul>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of details 2 -->