<!-- Details 1 -->
<div class="basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <h2>Design And Plan Your Business Growth Steps</h2>
          <p>After that humble start Hubex Solutions has advanced into one of the leading software and mobile applications company in U.K. With an exposure of more than a decade in web development, logo designing, mobile apps design and development we've earned a huge respect as a turnkey IT solution provider internationally. As a digital consultant we offer one of a kind, Search Engine Optimization, Digital Marketing and Content development and improvement.</p>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
      <div class="col-lg-6">
        <div class="image-container">
          <%= image_tag("details-1-office-worker.svg", class: "img-fluid", alt: "alternative")%>
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details 1 -->