


<!-- Header -->
<header id="header1" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-container">
            <h1><span class="turquoise">Get your apps</span> Audited Today</h1>
            <p class="p-large">We don't just make apps, we give life to ideas.</p>
            <a class="btn-solid-lg page-scroll" href="#services">DISCOVER</a>
          </div> <!-- end of text-container -->
        </div> <!-- end of col -->
        <div class="col-lg-6">
          <div class="image-container">
         <%= image_tag("header-teamwork.svg", class: "img-fluid", alt: "alternative")%>
<!--            <img class="img-fluid" src="images/header-teamwork.svg" alt="alternative">-->
          </div> <!-- end of image-container -->
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->