<!-- Services -->
<div id="services" class="cards-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Customize Your Experience.</h2>
        <p class="p-heading p-large">We aim to make innovative technology assets for your business. Our objective is to deliver long term benefits, based upon our clients’ key business requirements.</p>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <!-- Card -->
        <div class="card">
          <%= image_tag("services-icon-1.svg", class: "card-image", alt: "alternative")%>
          <div class="card-body">
            <h4 class="card-title">Mobile App Development</h4>
            <p>At Hubex Solutions we layout, construct and maintain iOS, android & windows mobile apps that just seems best and runs exactly as the client envisioned.</p>
          </div>
        </div>
        <!-- end of card -->
        <!-- Card -->
        <div class="card">
          <%= image_tag("services-icon-2.svg", class: "card-image", alt: "alternative")%>
          <div class="card-body">
            <h4 class="card-title">WebsiteDevelopment</h4>
            <p>We simply don’t develop customized web pages for our customers, we offer the best solutions for our clients which lead their marketplace share.</p>
          </div>
        </div>
        <!-- end of card -->
        <!-- Card -->
        <div class="card">
          <%= image_tag("services-icon-3.svg", class: "card-image", alt: "alternative")%>
          <div class="card-body">
            <h4 class="card-title">Software Development & Design</h4>
            <p>Our software developers' squad construct, design, rework, analyze the most authentic software.</p>
          </div>
        </div>
        <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->